
.package1_price_bg_color{
  background-color: #29a11d;
}

.package1_payment_button_hover:hover {
  background-color: #29a11d;
  border:1px solid #29a11d;
}

.package2_price_bg_color{
  background-color: #ea6202;
}

.package2_payment_button_hover:hover {
  background-color: #ea6202;
  border:1px solid #ea6202;
}

.package3_price_bg_color{
  background-color: #544d9f;
}

.package3_payment_button_hover:hover {
  background-color: #544d9f;
  border:1px solid #544d9f;
}


.paypal_button_color{
  color:#cea204;
  font-weight: 500;
}

.stripe_button_color{
  font-weight: 500;
}

.package_subtext{
  font-size:15px;
  color:#999;
  font-weight:500;
}


.login_holder{
  opacity: 1;
  height:100%;
  background: url("../images/login_background.jpg") no-repeat center center fixed ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.forgot_holder{
  opacity: 1;
  height:100%;
  background: url("../images/forgot_background.jpg") no-repeat top left fixed ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login_center{
  position: absolute;
  top: 30%;
  width:100%;
}

@media only screen and (max-width: 812px) {

  .signup_container{
    height:auto;
  }

  .login_center{
    position: relative;
    top: 10%;
  }

  .forgot_holder{
    background: none;
  }

  @media (orientation: portrait) {
    .signup_container{
      height:100%;
    }
  }
}
