html, body{
  height:100%;
}
.h-100 {
    height: 100vh !important;
}
*{
    font-family: Montserrat,Arial,sans-serif;
}
a{
    text-decoration: none;
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.team_name{
    font-size:13px;
    font-weight:500;
    color: #1e2223;
    font-weight: 600;
}
.tip_name{
    color: #0A7AB1;
    font-weight: 700;
    font-size: 12px;

}
.odds_name{
    color: #1b9d11;
    font-weight: 600;
    font-size: 12px;
}

.fs-10{ font-size:10px; }
.fs-11{ font-size:11px; }
.fs-12{ font-size:12px;}
.fs-13{ font-size:13px; }
.fs-14{ font-size:14px; }
.fs-15{ font-size:15px; }
.fs-16{ font-size:16px;}
.fs-17{ font-size:17px;}
.fs-18{ font-size:18px;}
.fw-100{font-weight: 100; }
.fw-500{font-weight: 500; }
.fw-600{font-weight: 600; }
.fw-700{font-weight: 700; }
.pt-10{padding-top: 10px !important; }
.mt-6{margin-top: 6px !important;}

.article_card .card-title{
    font-weight: 600;
    font-size: 16px;
    line-height: 1.3;
    color: #202123;
}
.article_card .card-text{
font-size: 14px;
    line-height: 1.55;
    color: #202123;
    font-weight: 500;
}

.bold500{
  font-weight:500;
}

.gray_title{
    background: #e5e5e5;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 11px 17px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.gray_title .gray_title_icon{
    line-height: 0;
    margin-right: 16px;
}
.gray_title .gray_title_text{
    font-size: 20px;
    line-height: 1.2;
    color: #202123;
    font-weight: 600;
}

.title{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    font-weight: 700;
    color: #202123;
    margin-bottom: 20px;
    min-height: 50px;
    padding: 3px 0;
}

.blue_title{
    border-bottom: 4px solid #0a7ab1;
}
.blue_button{
    background-color: #0a7ab1;
    color: #fff;
}

.blue_button:hover{
    background-color: #ffffff;
    color: #0a7ab1 !important;
    border: 1px solid #0a7ab1;
}

.white_button:hover{
    background-color: #0a7ab1;
    color: #ffffff !important;
}

.blue_text{
    color: #0a7ab1 !important;
}
a.blue_text:hover{
    color: #0a7ab1;
}

.dark_title{
    border-bottom: 4px solid #202123;
}

.mt-n1 {margin-top: -0.25rem !important;}
.mt-n05 {margin-top: -0.125rem !important;}
.mt-n2 {
  margin-top: -0.5rem !important;
}


.article_list_card{
    cursor: pointer;
}

.article_tile_card{
    border-radius: 10px;
    cursor: pointer;
    height: 100%;
}

.article_tile_card img{
    border-radius: 10px 10px 0 0;
}
.article_list_card img{
    transition: opacity 1s;
}

.article_list_card{
    transition: background-color 1s;
}
.article_tile_card {
    transition: background-color 1s;
}
.article_tile_card .card-body{
    height: 90px;
    border-radius: 0 0 10px 10px;
    display: table;
}
.article_tile_card .card-title-only{
    display: block;
    vertical-align: middle;
    display: table-cell !important;
}

.article_tile_card:hover img,
.article_list_card:hover img
{
    opacity: 0.65;
}
.article_tile_card:hover .card-title{
    color: #ffffff !important;
}
.article_tile_card:hover {
    background-color: #212529;
    /*border: 0;*/
    color: #ffffff;
}
.article_list_card:hover{
    background-color: #212529;
}
.article_list_card:hover .card-title, .article_list_card:hover .card-text{
    color: #ffffff !important;
}
.article_card:hover .card-title, .article_card:hover .card-text{
    color: #ffffff !important;
}

.package_card{
    border-radius: 15px;
}
.package_card .card-footer{
    border-radius: 0 0 15px 15px;
}
.package_card .top_bg img{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
}

.package_card .top_bg{
    background-size: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
    height: 90px;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
}

.package_card .top_bg_1{
    background-image: url('../../assets/images/package_1_bg.webp');
}
.package_card .top_bg_2{
    background-image: url('../../assets/images/package_2_bg.webp');
}
.package_card .top_bg_3{
    background-image: url('../../assets/images/package_3_bg.webp');
}

.package_card .package_name{
    color: #ffffff;
    position: absolute;
    left: 20px;
    font-size: 20px;
    top: 10px;
    font-weight: bold;
}


.paypal_button{
    background-color:  #0070ba;
    border: 1px solid #fffff;
}

.paypal_button:hover{
    color: #0070ba !important;
    background-color: #ffff;
    border: 1px solid #0070ba;
}

.stripe_button{
    background-color:  #635bff;


    border: 1px solid #fffff;
}
.stripe_button:hover{
    color: #635bff !important;
    background-color: #ffff;
    border: 1px solid #635bff;
}

.signup_container{
  height:calc(100% - 58px);
}

.signup_holder {
    opacity: 0.8;
    height:100%;
    background: url("../images/signup_background_small.jpg") no-repeat center center fixed ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.signup_form_holder{
  padding: 20px 20px 20px 20px;
  border-radius: 20px;
  background: rgba(41, 41, 41, 0.9);
}



.our_experts .img_wrapper{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.our_experts .img_wrapper img{
    position: relative;
    z-index: 2;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 132px;
    -ms-flex: 0 0 132px;
    flex: 0 0 132px;
    width: 132px;
    height: 91px;
}

.our_experts .img_wrapper .our_experts_title{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-left: -66px;
    background: #e4e4e4;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 20px 32px 20px 20px;
    min-height: 120px;
    font-size: 22px;
    color: #0a7ab1;
    font-weight: 700;
    text-transform: uppercase;
}
.our_expert:hover{
    background-color: #212529;
    color: #fff !important;
}
.our_expert:hover h5{
    color: #fff !important;
}

.our_expert{
    border-radius: 10px;
}

.our_expert img{
    display: block;
    width: 120px;
    height: 120px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 10px;
}

.title_2{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 700;
    color: #202123;
    margin-bottom: 20px;
    min-height: 50px;
    padding: 3px 0;
    border-bottom: 2px solid #202123;
    border-top: 2px solid #202123;
}

.about__desc_title{
    font-weight: 700;
    font-size: 15px;
    color: #202123;
    margin-bottom: 12px;
    line-height: 1.4;
}
.head_search:before {
   font-family: "Font Awesome 5 Free";
   content: "\f095";
   display: inline-block;
   padding-right: 3px;
   vertical-align: middle;
   font-weight: 900;
}
.card.bookmakers{
    border: 3px solid #1b9d11;
    border-radius: 10px;
}

ol, ul {
    list-style: none;
}
ul li.page {
    position: relative;
    padding-left: 30px;
    font-size: 15px;
    line-height: 1.6;
    color: #202123;
    font-weight: 500;
}
ul li.page::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: #0679B0;
    left: 0;
    top: 11px;
}

.home_td span{
    position: absolute;
}
.example.example2 {
  background-color: #fff;
}

.example.example2 * {
  /*font-family: Source Code Pro, Consolas, Menlo, monospace;*/
  font-size: 16px;
  font-weight: 500;
}

.example.example2 .row {
  display: -ms-flexbox;
  display: flex;
  margin: 0 5px 10px;
}

.example.example2 .field {
  position: relative;
  width: 100%;
  height: 50px;
  /*margin: 0 10px;*/
}

.example.example2 .field.half-width {
  width: 50%;
}

.example.example2 .field.quarter-width {
  width: calc(25% - 10px);
}

.example.example2 .baseline {
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background-color: #cfd7df;
  transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.example.example2 label {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 8px;
  color: #cfd7df;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transform-origin: 0 50%;
  cursor: text;
  pointer-events: none;
  transition-property: color, transform;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.example.example2 .input {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding-bottom: 7px;
  color: #32325d;
  background-color: transparent;
}

.example.example2 .input::-webkit-input-placeholder {
  color: transparent;
  transition: color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.example.example2 .input::-moz-placeholder {
  color: transparent;
  transition: color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.example.example2 .input:-ms-input-placeholder {
  color: transparent;
  transition: color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.example.example2 .input.StripeElement {
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  will-change: opacity;
}

.example.example2 .input.focused,
.example.example2 .input:not(.empty) {
  opacity: 1;
}

.example.example2 .input.focused::-webkit-input-placeholder,
.example.example2 .input:not(.empty)::-webkit-input-placeholder {
  color: #cfd7df;
}

.example.example2 .input.focused::-moz-placeholder,
.example.example2 .input:not(.empty)::-moz-placeholder {
  color: #cfd7df;
}

.example.example2 .input.focused:-ms-input-placeholder,
.example.example2 .input:not(.empty):-ms-input-placeholder {
  color: #cfd7df;
}

.example.example2 .input.focused + label,
.example.example2 .input:not(.empty) + label {
  color: #aab7c4;
  transform: scale(0.85) translateY(-25px);
  cursor: default;
}

.example.example2 .input.focused + label {
  color: #24b47e;
}

.example.example2 .input.invalid + label {
  color: #ffa27b;
}

.example.example2 .input.focused + label + .baseline {
  background-color: #24b47e;
}

.example.example2 .input.focused.invalid + label + .baseline {
  background-color: #e25950;
}

.example.example2 input, .example.example2 button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-style: none;
}

.example.example2 input:-webkit-autofill {
  -webkit-text-fill-color: #e39f48;
  transition: background-color 100000000s;
  -webkit-animation: 1ms void-animation-out;
}

.example.example2 .StripeElement--webkit-autofill {
  background: transparent !important;
}

.example.example2 input, .example.example2 button {
  -webkit-animation: 1ms void-animation-out;
}

.example.example2 button {
  display: block;
  width: 100%;
  height: 40px;
  /*background-color: #24b47e;*/
  border-radius: 4px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}

.example.example2 .error svg {
  margin-top: 0 !important;
}

.example.example2 .error svg .base {
  fill: #e25950;
}

.example.example2 .error svg .glyph {
  fill: #fff;
}

.example.example2 .error .message {
  color: #e25950;
}

.example.example2 .success .icon .border {
  stroke: #abe9d2;
}

.example.example2 .success .icon .checkmark {
  stroke: #24b47e;
}

.example.example2 .success .title {
  color: #32325d;
  font-size: 16px !important;
}

.example.example2 .success .message {
  color: #8898aa;
  font-size: 13px !important;
}

.example.example2 .success .reset path {
  fill: #24b47e;
}

/*footer a:hover{
    color: #0a7ab1 !important;
}*/
.nav-link:hover{
    color: #0a7ab1 !important;
}

.general_match_card{
    border-radius: 10px;
    border:  1px solid #fff;
    box-shadow: 2px 2px 15px rgb(0 0 0 / 10%);
    cursor: pointer;
}
.general_match_card .fa-calendar, .general_match_card .fa-clock{
    color: #d0d0d0 !important;
}

.general_match_card:hover{
    border-color: #0a7ab1;
        box-shadow: 7px 7px 10px rgb(191 191 191 / 80%);
}
.tip_box_card, .prediction_box_card, .livescore_box_card{

}

.show_date, .show_time{
    display: none;
}


.bookmakers .img{
    margin-left: calc(50% - 50px);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-size: 90%;
}
